#!/usr/bin/expect -f

set force_conservative 0  ;# set to 1 to force conservative mode even if
			  ;# script wasn't run conservatively originally
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout -1
spawn ovpn_initpki
match_max 100000
expect -exact "Enter New CA Key Passphrase: "
send -- "{{ ovpn_ca_pass }}\r"
expect -exact "Re-Enter New CA Key Passphrase: "
send -- "{{ ovpn_ca_pass }}\r"
expect -exact "Common Name (eg: your user, host, or server name) \[Easy-RSA CA\]:"
send -- "{{ ovpn_ca }}\r"
expect -exact "Enter pass phrase for {{ ovpn_data_pki }}/private/ca.key:"
send -- "{{ ovpn_ca_pass }}\r"
expect -exact "Enter pass phrase for {{ ovpn_data_pki }}/private/ca.key:"
send -- "{{ ovpn_ca_pass }}\r"
expect eof
