declare -x OVPN_AUTH=
declare -x OVPN_CIPHER={{ ovpn_cipher }}
declare -x OVPN_CLIENT_TO_CLIENT=
declare -x OVPN_CN={{ ovpn_name }}
declare -x OVPN_COMP_LZO=0
declare -x OVPN_DEFROUTE=1
declare -x OVPN_DEVICE=tun
declare -x OVPN_DEVICEN={{ ovpn_dev_no }}
declare -x OVPN_DISABLE_PUSH_BLOCK_DNS=0
declare -x OVPN_DNS=1
declare -x OVPN_ENV={{ ovpn_data_conf }}/ovpn_env.sh
declare -x OVPN_EXTRA_CLIENT_CONFIG=()
declare -x OVPN_EXTRA_SERVER_CONFIG=()
declare -x OVPN_FRAGMENT=
declare -x OVPN_KEEPALIVE='10 120'
declare -x OVPN_MTU=
declare -x OVPN_NAT=1
declare -x OVPN_NATDEVICE=
declare -x OVPN_PORT={{ ovpn_port }}
declare -x OVPN_PROTO={{ ovpn_proto }}
declare -x OVPN_PUSH=()
declare -x OVPN_ROUTES=()
declare -x OVPN_SERVER=192.168.255.0/24
declare -x OVPN_SERVER_URL={{ ovpn_proto }}://{{ ansible_host }}
declare -x OVPN_TLS_CIPHER=
