<div class="mx-5">
  <.header>
    Server acc <%= @server_acc.id %>
    <:subtitle>This is a server_acc record from your database.</:subtitle>
  </.header>

  <.list>
    <:item title="Id"><%= @server_acc.id %></:item>
    <:item title="Status"><%= @server_acc.status %></:item>
    <:item title="User Info"><%= @server_acc.user_info %></:item>
  </.list>

  <.back navigate={~p"/server_accs"}>Back to server_accs</.back>
</div>
